@font-face {
    font-family: chiaro;
    src: url(chiaro.otf);
}

body {
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root {
  text-align: center;
}

#content {
  display: inline-block;
  padding: 0px;
}

h1 {
  margin: 10px;
  font-family: chiaro;
  text-align: center;
  color: white;
  font-size: 3em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
